/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/****GENERAL CLASSES****/
.centeringContainer{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
body{
	min-width:960px;
	width:100%;
	margin:0;
}
h1, h2, h3, h4, h5, h6, p, a{
	font-family: 'Raleway', sans-serif;
}
li{
	font-family: 'Raleway', sans-serif;
}


/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****HEADER****/
.header{
	width:100%;
	height:293px;
	margin-bottom:20px;
}

/***********************************************************************************************************************************/
/**HEADER TOP AREA**/
.headerTopSect{
	height:50px;
	width:100%;
	border-bottom:7px dotted rgb(40, 40, 40);
	border-bottom:7px dotted rgba(200, 200, 200, .2);
}
.headerLoginLink{
	height: 100%;
    width: 280px;
}
.headerLoginLink h5{
	color: #666666;
    float: left;
    font-size: 16px;
    margin-top: 15px;
	font-weight: normal;
}
.headerLoginLink h6{
	color: #666666;
    float: left;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 15px;
	font-weight: normal;
}
.headerLoginLink a{
	color: #E61552;
	text-decoration: none;
}

.headerCartLink{
	height: 100%;
    width: 300px;
}
.headerCartLink a{
	color: #666666;
    float: left;
    margin-top: 15px;
    text-decoration: none;
}
.headerCartLink span{
}
.headerCartLink h6{
	color: #666666;
    float: left;
    margin-left: 3px;
    margin-right: 1px;
    margin-top: 18px;
    text-decoration: none;
}

.headerTopNavLink{
	height: 100%;
    width: 210px;
}
.headerTopCenterLink{
	margin-left: 14px;
    margin-right: 14px;
}
.headerTopNavLink a{
	color: #666666;
    float: right;
    margin-top: 15px;
    text-decoration: none;
}

/***********************************************************************************************************************************/
/**HEADER MID AREA**/
.headerMidSect{
	height:150px;
	width:100%;
}
.headerLogoContainer{
	float: left;
    height: 80px;
    margin-top: 35px;
    width: 385px;
}

.headerSearchContainer{
	float: right;
    height: 85px;
    margin-right: 60px;
    margin-top: 45px;
    width: 300px;
}
.headerSearchContainer form{
	margin: 0;
    padding: 0;
    width: 300px;
}
.headerSearchContainer fieldset{
	border: medium none;
    margin: 0;
    padding: 0;
}
#searchBarInput{
	border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #B4B4B4;
    float: left;
    height: 38px;
    padding: 0 0 0 10px;
    width: 205px;
}
#searchBarButton{
	background-color: #E61652;
    border: medium none;
    color: white;
    float: left;
    font-weight: bold;
    height: 40px;
    width: 80px;
	margin-left: -2px;
	font-family: 'Raleway', sans-serif;
}

.headerSearchLinks{
	margin-left:3px;
	margin-top:5px;
}
.headerSearchContainer p{
	color: #666666;
	font-size:14px;
}
.headerSearchContainer a{
	color: #E61552;
    text-decoration: none;
}

/***********************************************************************************************************************************/
/**HEADER BOTTOM AREA**/
.headerBottomSect{
	background-image:url(Images/Homepage/headernavbar.png);
	background-repeat:repeat-x;
	height: 86px;
	width: 100%;
	float:left;
}
.topNavContainer{
	width:100%;
	height:28px;
	margin-top:28px;
}
.navTopCat{
}
.dropdown{
	height:0;
	overflow:hidden;
	background-color:white;
	width:320px;
	z-index:3;
	position:absolute;
	background-color: #EEEEEE;
}
.dropdownContainer{
	width:100%;
	height:100%;
}
.dropdownBottomdecoration{
	width:100%;
	height:10px;
	background-color:#e61652;
	bottom:0;
}

/*dropdownLinkContainer*/
.dropdownLinkContainer{
	cursor: pointer;
    float: left;
    text-align: center;
    width: 120px;
}
.dropdownLinkContainer div a{
	font-size:22px;
	font-weight:600;a
}
.dropdownLinkContainer div a:hover{
	color:#e61652;
}
.headerDropdown{
}
.headerDropdown ul{
	float: left;
    height: 260px;
    width: 140px;
	margin:10px;
	padding:0;
}
.headerDropdown ul li{
	list-style:none;
}
.headerDropdown ul li a{
	font-size:16px;
	color:#333333;
	text-decoration:none;
	font-weight: 500;
}
.headerDropdown ul li a:hover{
	color:#e61652;
}
.headerDropdownLink{
	text-align:left;
}
.headerDropdownTitle{
	font-weight: bold;
	text-align:left;
}
.headerDropdownTitle a{
	font-weight: bold !important;
}
.stackedDropdownLI{
	margin-top:10px;
}
.navBarProm div.headerDropdown{
	box-shadow: 1px 5px 5px #484944;
    left: 10px;
    top: 52px;
}
.navBarEvening div.headerDropdown{
	box-shadow: 1px 5px 5px #484944;
    left: 20px;
    top: 52px;
}
.navBarCocktail div.headerDropdown{
	box-shadow: 1px 5px 5px #484944;
    left: 135px;
    top: 52px;
}
.navBarPlusSize div.headerDropdown{
	box-shadow: 1px 5px 5px #484944;
    left: 255px;
    top: 52px;
}
.navBarPageant div.headerDropdown{
	box-shadow: 1px 5px 5px #484944;
    left: 375px;
    top: 52px;
}
.navBarBridal div.headerDropdown{
	box-shadow: 1px 5px 5px #484944;
    left: 495px;
    top: 52px;
}
.navBarBridal{
	width:90px;
}
.navBarAccessories{
	width:150px;
}
.navBarAccessories div.headerDropdown{
	box-shadow: 1px 5px 5px #484944;
    left: 620px;
    top: 52px;
}
.navBarStock{
}
.navBarStock div.headerDropdown{
	box-shadow: 1px 5px 5px #484944;
    left: 630px;
    top: 52px;
}



/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****FOOTER****/
.footer{
	width:100%;
	height:550px;
	background-image:url(Images/Homepage/footerbackground.png);
	float:left;
}

/***********************************************************************************************************************************/
/*****NEWSLETTER BAR****/
.footerNewsletterBar{
	background-image: url("Images/Homepage/footernewsletterbar.png");
    background-repeat: repeat-x;
    height: 109px;
    margin-left: -7px;
    width: 100.5%;
}

.footerNewsletterBar div.centeringContainer img{
	float:left;
	margin-top:50px;
}
.footNewsTextCont{
	width:330px;
	height:100%;
	float:left;
	margin-top:40px;
}
.footNewsTextCont p{
	color: white;
    font-size: 14px;
    text-align: right;
}
.footNewsTextCont h3{
	color: white;
    margin-top: -15px;
    text-align: right;
}

.footNewsSignupCont{
	float: right;
    height: 55px;
    margin-top: 35px;
    width: 500px;
}
.footNewsSignupCont form#subscribeFrm{
}
.footNewsSignupCont form#subscribeFrm fieldset.userInfo{
	border: medium none;
}
.footNewsSignupCont form#subscribeFrm fieldset.userInfo input{
	float:left;
}
.footNewsSignupCont form#subscribeFrm fieldset.userInfo input.subName{
	border: medium none;
    height: 40px;
    margin-right: 10px;
    padding: 0;
    width: 190px;
}
.footNewsSignupCont form#subscribeFrm fieldset.userInfo input.subEmail{
	border: medium none;
    height: 40px;
    padding: 0;
    width: 180px;
}
.footNewsSignupCont form#subscribeFrm fieldset.userInfo input.subButton{
	background-color: #333333;
    border: medium none;
    color: white;
    font-size: 16px;
    height: 40px;
    margin-top: -17px;
    width: 80px;
}

/***********************************************************************************************************************************/
/*****CONTENT AREA****/
.footerContentContainer{
	height:410px;
	width:100%;
	float: left;
}
.footerLinkListContainer{
	width:460px;
	height:100%;
}
.footerLinkList{
	float: left;
    height: 100%;
    list-style: none outside none;
    width: 190px;
}
.footerLinkList li{
	margin-top: 20px;
}
.footerLinkList a{
	color: white;
    text-decoration: none;
	font-size: 18px;
}
.footerLinkList a:hover{
	color: #E61552;
}

.footerSocialMediaContainer{
	float: left;
    height: 65px;
    margin-top: 35px;
    width: 500px;
}
.footerSocMedIcon{
	cursor: pointer;
    float: left;
}
.footerFB{
	background-image:url(Images/Homepage/footer/socialicons/facebook.png);
	background-repeat:none;
	height: 75px;
	width: 82px;
}
.footerFB:hover{
	background-image:url(Images/Homepage/footer/socialicons/facebookhover.png);
	background-repeat:none;
}
.footerTwit{
	background-image:url(Images/Homepage/footer/socialicons/twitter.png);
	background-repeat:none;
	height: 75px;
	width: 81px;
	margin-left: -10px;
}
.footerTwit:hover{
	background-image:url(Images/Homepage/footer/socialicons/twitterhover.png);
	background-repeat:none;
}
.footerPint{
	background-image:url(Images/Homepage/footer/socialicons/pinterest.png);
	background-repeat:none;
	height: 75px;
	width: 75px;
	margin-left:5px;
}
.footerPint:hover{
	background-image:url(Images/Homepage/footer/socialicons/pinteresthover.png);
	background-repeat:none;
}
.footerYT{
	background-image:url(Images/Homepage/footer/socialicons/youtube.png);
	background-repeat:none;
	height: 75px;
	width: 75px;
	margin-left:6px;
}
.footerYT:hover{
	background-image:url(Images/Homepage/footer/socialicons/youtubehover.png);
	background-repeat:none;
}
.footerInsta{
	background-image:url(Images/Homepage/footer/socialicons/instagram.png);
	background-repeat:none;
	height: 75px;
	width: 83px;
	margin-left:1px;
}
.footerInsta:hover{
	background-image:url(Images/Homepage/footer/socialicons/instagramhover.png);
	background-repeat:none;
}
.footerGP{
	background-image:url(Images/Homepage/footer/socialicons/googleplus.png);
	background-repeat:none;
	height: 75px;
	width: 81px;
	margin-left:-1px;
}
.footerGP:hover{
	background-image:url(Images/Homepage/footer/socialicons/googleplushover.png);
	background-repeat:none;
}

.footerShowroomLinkContainer{
	float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.footerShowroomLinkContainer div{
	cursor:pointer;
}

.footerBottomNote{
	height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 370px;
    position: relative;
    width: 320px;
}
.footerBottomNote p{
	color: white;
    font-size: 12px;
}





/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****HOMEPAGE****/

/***********************************************************************************************************************************/
/*****BANNER****/
.homepageBannerContainer{
	height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 940px;
}

/***********************************************************************************************************************************/
/*****BANNER CAROUSEL****/
.homepageCarouselContainer{
	 height: 440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 940px;
	margin-top:20px;
	overflow:hidden;
}
.homepageCarouselContainer div.caroufredsel_wrapper{
	margin:0 !important;
}
.carouselHPBannerList{
	padding:0;
}
.carouselHPBannerList li{
	list-style:none;
	float:left;
	cursor:pointer;
}
.prevHPBannerCaro{
	position:absolute;
	top:192px;
	left:20px;
	cursor:pointer;
}
.nextHPBannerCaro{
	cursor: pointer;
    position: absolute;
    right: 20px;
    top: 192px;
}

/***********************************************************************************************************************************/
/*****CATEGORY LIST****/
.homepageCategoryListContainer{
	height: 240px;
    width: 100%;
}
.homepageCategoryItemTop{
	position:relative;
	width:220px;
	height:220px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
}
.homepageCategoryItemTop:hover{
	background-color:rgba(200,200,200,.5);
	color:white;
}
.homepageCatTitleBar{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	background-color:rgba(200,200,200,.5);
}
.homepageCatTitleBar p{
	color: #333333;
    font-size: 18px;
    margin-top: 14px;
    text-align: center;
}

/***********************************************************************************************************************************/
/*****SUB-CATEGORY LIST****/
.homepageSubCatListContainer{
	height: 145px;
    width: 100%;
}
.homepageSubCatItemTop{
	position:relative;
	width:302px;
	height:122px;
	float:left;
	margin-left:10px;
	margin-right:7px;
	margin-top:20px;
}
.homepageSubCatItemTop:hover{
	background-color:rgba(200,200,200,.5);
	color:white;
}
.homepageSubCatTitleBar{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	background-color:rgba(200,200,200,.5);
}
.homepageSubCatTitleBar p{
	color: #333333;
    font-size: 18px;
    margin-top: 14px;
    text-align: center;
}

/***********************************************************************************************************************************/
/*****PRODUCT LIST CAROUSEL****/
.homepageProductListContainer{
	width:100%;
	height:909px;
	background-image:url(Images/Homepage/hpproductlistcarouselbar.png);
	background-repeat:repeat-x;
}
.hpProductListTitleCarouselBar{
	height: 112px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.hpProductListTitleCarouselBar div.caroufredsel_wrapper{
	margin-left: 245px !important;
    margin-right: auto !important;
}
.hpProductListTitleCarousel{
}
.hpProductListTitleCarousel li{
	float: left;
    height: 112px;
    list-style: none outside none;
    width: 400px;
	margin-top: 15px;
}
.hpProductListTitleCarousel li h3{
	text-align: center;
	color:#666666;
	font-size:36px;
	font-weight:400;
}
.hpProductListPrev{
	position:absolute;
	left:150px;
	top:25px;
	cursor:pointer;
}
.hpProductListNext{
	cursor: pointer;
    position: absolute;
    right: 150px;
    top: 25px;
}

.hpProductListContentArea{
	width:100%;
	height:800px;
	background-color:#eeeeee;
	position:relative;
}
.hpProductListCarouselArea div.caroufredsel_wrapper{
	
}
.hpProductListCarouselContainer{
}
.hpProductListCarouselContainer ul.productList{
	float: left;
    height: 670px;
    width: 960px;
}
 .hpProductListCarouselContainer ul.productList li.productItem{
	height:300px !important;
	width:200px !important;
	background-color:white;
	position:relative;
	border:10px solid white;
	margin:10px;
}
.productItemInfo{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	background-color:rgba(200,200,200,.5);
}
.productItemInfoContent{
}
.productItemInfoMoreInfo{
	display:none;
	width:100%;
	height:100%;
}
.productItemInfoMoreInfo h1{
	color: #FFFFFF;
    font-size: 12px;
    margin-top: 22px;
    text-align: center;
}

.hpProductListPag{
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
	height:21px;
	margin-top:35px;
}
.hpProductListPag a{
	width:20px;
	height:21px;
	background-image:url(Images/Homepage/carouselpagination.png);
	float:left;
	margin-right: 20px;
}
.hpProductListPag a span{
	display:none;
}
.hpProductListPag a.selected{
	background-image:url(Images/Homepage/carouselpaginationselected.png);
}
.hpProductListCarouselArea{
	height:800px;
	width:100%;
	position:relative;
}


/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY TEMPLATE****/

/***********************************************************************************************************************************/
/*****BREADCRUMB****/
.breadcrumb{
	text-align:center;
}
.breadcrumb li{
	float:none;
}

/***********************************************************************************************************************************/
/*****SIDEBAR****/
.catSidebar{
	width:220px;
	height:100%;
	margin: 10px 10px 10px 0;
	float:left;
	background-color:white;
	border:1px solid #cdcdcd;
}

/***********************************************************************************************************************************/
/*****MAIN CONTENT AREA****/
.catContentArea{
	width:960px;
	height:100%;
	margin: 10px 0 10px 10px;
	float:left;
	overflow:hidden;
}

/***********************************************************************************************************************************/
/*****CAT TOP CAROUSEL****/
.catTopCarousel{
	width:960px;
	height:440px;
	position:relative;
	float:left;
	overflow:hidden;
}
.catTopCarousel div.caroufredsel_wrapper{
	margin-top:0 !important;
}
.carouselCPBannerList{
	padding-left: 0;
}
.carouselCPBannerList li{
	list-style:none;
	float:left;
}
.carouselCPBannerList li a{
}
.prevCPBannerCaro{
	 cursor: pointer;
    left: 20px;
    position: absolute;
    top: 200px;
}
.nextCPBannerCaro{
	position:absolute;
	right:20px;
	top:200px;
	cursor:pointer;
}

/***********************************************************************************************************************************/
/*****SUBCATEGORY LIST****/
.categoryList{
	float: left;
    height: auto;
    margin-left: 2px;
    margin-top: 20px;
    width: 960px;
}

/***********************************************************************************************************************************/
/*****CUSTOM TEXT AREA****/
.catCustomTextArea{
	margin-top:20px;
	width:960px;
	height:100px;
	border:1px solid #cccccc;
	background: rgb(248,248,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	float:left;
	position:relative;
}
.catCustomTextArea H1{
	color: #9B9B9B;
    line-height: 105px;
    text-align: center;
}


/***********************************************************************************************************************************/
/*****BOTTOM CAROUSEL****/
.catBottomCarousel{
	width:960px;
	float:left;
	margin-top:20px;
}

.catProductListTitleCarouselBar{
	height: 110px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.catProductListTitleCarouselBar div.caroufredsel_wrapper{
	margin-left: 270px !important;
    margin-right: auto !important;
}
.catProductListTitleCarousel{
	overflow: hidden;
    padding-left: 0;
}
.catProductListTitleCarousel li{
	float: left;
    height: 112px;
    list-style: none outside none;
    width: 400px;
	margin-top: 15px;
}
.catProductListTitleCarousel li h3{
	text-align: center;
	color:#666666;
	font-size:36px;
	font-weight:400;
}
.catProductListTitleCarouselBar h3{
	text-align: center;
	color:#666666;
	font-size:36px;
	font-weight:400;
}
.catProductListPrev{
	position:absolute;
	left:100px;
	top:25px;
	cursor:pointer;
}
.catProductListNext{
	cursor: pointer;
    position: absolute;
    right: 100px;
    top: 25px;
}

.catProductListContentArea{
	width:100%;
	position:relative;
}
.catProductListCarouselArea div.caroufredsel_wrapper{
	
}
.catProductListCarouselContainer{
}
.catProductListCarouselContainer ul.productList{
	float: left;
    margin-left: -20px;
    width: 960px;
}
 .catProductListCarouselContainer ul.productList li.productItem{
	height:300px !important;
	width:200px !important;
	background-color:white;
	position:relative;
	border:10px solid white;
	margin: 5px 0 5px 20px;
}
.productItemInfo{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	background-color:rgba(200,200,200,.5);
}
.productItemInfoContent{
}
.productItemInfoMoreInfo{
	display:none;
	width:100%;
	height:100%;
}
.productItemInfoMoreInfo h1{
	color: #FFFFFF;
    font-size: 12px;
    margin-top: 22px;
    text-align: center;
}

.catProductListPag{
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
	height:21px;
	margin-top:35px;
}
.catProductListPag a{
	width:20px;
	height:21px;
	background-image:url(Images/Homepage/carouselpagination.png);
	float:left;
	margin-right: 20px;
}
.catProductListPag a span{
	display:none;
}
.catProductListPag a.selected{
	background-image:url(Images/Homepage/carouselpaginationselected.png);
}
.catProductListCarouselArea{
	width:100%;
	position:relative;
}




/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY TEMPLATE PROM****/

/***********************************************************************************************************************************/
/*****BREADCRUMB****/
.breadcrumb{
	text-align:center;
}
.breadcrumb li{
	float:none;
}

/***********************************************************************************************************************************/
/*****SIDEBAR****/
.catSidebar{
	width:220px;
	height:100%;
	margin: 10px 10px 10px 0;
	float:left;
	background-color:white;
	border:1px solid #cdcdcd;
}
.catSidebar h3{
	margin-left: 40px;
}
.catSidebar ul{
	list-style: none outside none;
	padding-left:35px;
}
.catSidebar ul li{
	margin-bottom:5px;
}
.catSidebar ul li a{
	color: #333333;
    text-decoration: none;
}
.catSidebar ul li a:hover{
	color:#e61652;
}

/***********************************************************************************************************************************/
/*****MAIN CONTENT AREA****/
.catContentAreaProm{
	width:700px;
	height:100%;
	margin: 10px 0 10px 10px;
	float:left;
	overflow:hidden;
}

/***********************************************************************************************************************************/
/*****CAT TOP CAROUSEL****/
.catTopCarouselProm{
	width:700px;
	height:440px;
	position:relative;
	float:left;
	overflow:hidden;
}
.catTopCarouselProm div.caroufredsel_wrapper{
	margin-top:0 !important;
}

/***********************************************************************************************************************************/
/*****SUBCATEGORY LIST****/
.categoryListProm{
	float: left;
    height: auto;
    margin-left: -9px;
    margin-top: 20px;
    width: 720px;
}

/***********************************************************************************************************************************/
/*****CUSTOM TEXT AREA****/
.catCustomTextAreaProm{
	margin-top:20px;
	width:700px;
	height:100px;
	border:1px solid #cccccc;
	background: rgb(248,248,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	float:left;
	position:relative;
}
.catCustomTextAreaProm H1{
	color: #9B9B9B;
    line-height: 105px;
    text-align: center;
}
.carouselCPBannerListProm{
	padding-left: 0;
}
.carouselCPBannerListProm li{
	list-style:none;
	float:left;
}
.carouselCPBannerListProm li a{
}
.prevCPBannerCaroProm{
	 cursor: pointer;
    left: 20px;
    position: absolute;
    top: 200px;
}
.nextCPBannerCaroProm{
	position:absolute;
	right:20px;
	top:200px;
	cursor:pointer;
}

/***********************************************************************************************************************************/
/*****BOTTOM CAROUSEL****/
.catBottomCarouselProm{
	width:700px;
	float:left;
	margin-top:20px;
}

.catProductListTitleCarouselBarProm{
	height: 110px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.catProductListTitleCarouselBarProm div.caroufredsel_wrapper{
	margin-left: 150px !important;
    margin-right: auto !important;
}
.catProductListTitleCarouselProm{
	overflow: hidden;
    padding-left: 0;
}
.catProductListTitleCarouselProm li{
	float: left;
    height: 112px;
    list-style: none outside none;
    width: 400px;
	margin-top: 15px;
}
.catProductListTitleCarouselProm li h3{
	text-align: center;
	color:#666666;
	font-size:36px;
	font-weight:400;
}
.catProductListTitleCarouselBarProm h3{
	text-align: center;
	color:#666666;
	font-size:36px;
	font-weight:400;
}
.catProductListPrevProm{
	position:absolute;
	left:100px;
	top:25px;
	cursor:pointer;
}
.catProductListNextProm{
	cursor: pointer;
    position: absolute;
    right: 100px;
    top: 25px;
}

.catProductListContentAreaProm{
	width:100%;
	position:relative;
}
.catProductListCarouselAreaProm div.caroufredsel_wrapper{
	
}
.catProductListCarouselContainerProm{
}
.catProductListCarouselContainerProm ul.productList{
	float: left;
    margin-left: -20px;
    width: 720px;
}
 .catProductListCarouselContainerProm ul.productList li.productItem{
	height:300px !important;
	width:200px !important;
	background-color:white;
	position:relative;
	border:10px solid white;
	margin: 5px 0 5px 20px;
}
.productItemInfo{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	background-color:rgba(200,200,200,.5);
}
.productItemInfoContent{
}
.productItemInfoMoreInfo{
	display:none;
	width:100%;
	height:100%;
}
.productItemInfoMoreInfo h1{
	color: #FFFFFF;
    font-size: 12px;
    margin-top: 22px;
    text-align: center;
}

.catProductListPagProm{
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
	height:21px;
	margin-top:35px;
}
.catProductListPagProm a{
	width:20px;
	height:21px;
	background-image:url(Images/Homepage/carouselpagination.png);
	float:left;
	margin-right: 20px;
}
.catProductListPagProm a span{
	display:none;
}
.catProductListPag a.selected{
	background-image:url(Images/Homepage/carouselpaginationselected.png);
}
.catProductListCarouselArea{
	width:100%;
	position:relative;
}




/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY PRODUCT LIST TEMPLATE****/

/***********************************************************************************************************************************/
/*****SIDEBAR****/
.catProdListSidebar{
	width:218px;
	height:100%;
	margin: 0 10px 10px 0;
	float:left;
	background-color:#f7f7f7;
	border:1px solid #cdcdcd;
}

/***********************************************************************************************************************************/
/*****CONTENT AREA****/
.catProdListContentArea{
	float: left;
    width: 700px;
}

/***********************************************************************************************************************************/
/*****BANNER****/
.catProdListBanner{
	float: left;
    width: 700px;
}

/***********************************************************************************************************************************/
/*****CATEGORY DESCRIPTION****/
.catProdListCustomTextArea{
	margin-top:20px;
	width:700px;
	height:100px;
	border:1px solid #cccccc;
	background: rgb(248,248,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	float:left;
	position:relative;
}

/***********************************************************************************************************************************/
/*****PRODUCT LIST****/
.catProdListProductListCont{
	width:100%;
}
.catProdListProductListCont ul.productList{
	float: left;
    margin-left: -19px;
    width: 722px;
}
catProdListProductListCont div.loadingBG{
	clear: left;
    float: left;
    margin-bottom: 20px;
    margin-left: 420px;
    margin-top: 50px;
}



/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY LIST TEMPLATE****/

.categoryListTemplate{
	float: left;
    height: 220px !important;
    margin: 10px 8px 10px 9px !important;
    position: relative;
    width: 220px !important;
	border:1px solid #cccccc;
}
.categoryListTemplateCont{
	width:100%;
	height:100%;
}
.catName{
	font-size: 16px;
    margin-top: 15px;
    text-align: center;
	color:#333333;
}




/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****PRODUCT LIST TEMPLATE****/

.productItem{
	height:280px !important;
	width:200px !important;
	background-color:white;
	position:relative;
	border:10px solid white;
	margin:10px;
}
.productList > li{
	margin-left: 20px;
    margin-right: 0;
}
.productItemInfo{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	background-color:rgba(200,200,200,.5);
}
.productItemInfoContent{
}
.productItemInfoMoreInfo{
	display:none;
	width:100%;
	height:100%;
}
.productItemInfoMoreInfo h1{
	color: #FFFFFF;
    font-size: 12px;
    margin-top: 22px;
    text-align: center;
}



/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****FILTERED SEARCH TEMPLATES****/
.layeredSearch fieldset{
	border: medium none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
.break{
	clear: left;
    color: #000000;
    float: left;
    font-family: 'Raleway',sans-serif;
    margin-bottom: 2px;
    margin-left: 20px;
}
.filterCatTitle{
	background-image: url("Images/categorypage/filteredsearch/catbaropen.png");
    color: #FFFFFF;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
    width: 208px;
	cursor:pointer;
}
.resetButton{
	background-color: #333333;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    height: 60px;
    width: 100%;
}

.break input{
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.break input:selected{
}

/***********************************************************************************************************************************/
/*****PRICE****/
.filterPriceCat div.filterCategoryCont div.ui-slider a{
	background-image:url(Images/categorypage/filteredsearch/Slider.png);
	background-color: rgba(54, 25, 25, .0);
	border: medium none;
}
.filterCategoryCont div.ui-slider div.ui-slider-range{
	background: none repeat scroll 0 0 white;
    color: #FFFFFF;
}
.filterCategoryCont input.sliderValue{
	margin-bottom: 5px;
    margin-left: 37px;
}