/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/****GENERAL CLASSES****/
.centeringContainer{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
body{
	min-width:960px;
	width:100%;
	margin:0;
}
h1, h2, h3, h4, h5, h6, p, a{
	font-family: 'Raleway', sans-serif;
}


/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****HEADER****/
.header{
	width:100%;
	height:293px;
	margin-bottom:20px;
}

/***********************************************************************************************************************************/
/**HEADER TOP AREA**/
.headerTopSect{
	height:50px;
	width:100%;
	border-bottom:7px dotted rgb(40, 40, 40);
	border-bottom:7px dotted rgba(200, 200, 200, .2);
}
.headerLoginLink{
	height: 100%;
    width: 280px;
}
.headerLoginLink h5{
	color: #666666;
    float: left;
    font-size: 16px;
    margin-top: 15px;
}
.headerLoginLink h6{
	color: #666666;
    float: left;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 17px;
}
.headerLoginLink a{
	color: #E61552;
	text-decoration: none;
}

.headerCartLink{
	height: 100%;
    width: 300px;
}
.headerCartLink a{
	color: #666666;
    float: left;
    margin-top: 15px;
    text-decoration: none;
}
.headerCartLink span{
}
.headerCartLink h6{
	color: #666666;
    float: left;
    margin-left: 3px;
    margin-right: 1px;
    margin-top: 18px;
    text-decoration: none;
}

.headerTopNavLink{
	height: 100%;
    width: 210px;
}
.headerTopCenterLink{
	margin-left: 14px;
    margin-right: 14px;
}
.headerTopNavLink a{
	color: #666666;
    float: right;
    margin-top: 15px;
    text-decoration: none;
}

/***********************************************************************************************************************************/
/**HEADER MID AREA**/
.headerMidSect{
	height:150px;
	width:100%;
}
.headerLogoContainer{
	float: left;
    height: 80px;
    margin-top: 35px;
    width: 385px;
}

.headerSearchContainer{
	float: right;
    height: 85px;
    width: 300px;
	margin-top:35px;
}
.headerSearchContainer form{
	margin: 0;
    padding: 0;
    width: 300px;
}
.headerSearchContainer fieldset{
	border: medium none;
    margin: 0;
    padding: 0;
}
#searchBarInput{
	border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #B4B4B4;
    float: left;
    height: 38px;
    padding: 0 0 0 10px;
    width: 205px;
}
#searchBarButton{
	background-color: #E61652;
    border: medium none;
    color: white;
    float: left;
    font-weight: bold;
    height: 40px;
    width: 80px;
	margin-left: -2px;
	font-family: 'Raleway', sans-serif;
}

.headerSearchLinks{
	margin-left:3px;
	margin-top:5px;
}
.headerSearchContainer p{
	color: #666666;
	font-size:14px;
}
.headerSearchContainer a{
	color: #E61552;
    text-decoration: none;
}

/***********************************************************************************************************************************/
/**HEADER BOTTOM AREA**/
.headerBottomSect{
	background-image:url(Images/Homepage/headernavbar.png);
	background-repeat:repeat-x;
	height: 86px;
	width: 100%;
	float:left;
}
.topNavContainer{
	width:100%;
	height:28px;
	margin-top:28px;
}
.navTopCat{
}
.dropdown{
	height:0;
	overflow:hidden;
	background-color:white;
	width:400px;
}

/*dropdownLinkContainer*/
.dropdownLinkContainer{
	cursor: pointer;
    float: left;
    text-align: center;
    width: 120px;
}
.dropdownLinkContainer div a{
	font-size:22px;
	font-weight:600;a
}
.dropdownLinkContainer div a:hover{
	color:#e61652;
}



/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****HOMEPAGE****/

/***********************************************************************************************************************************/
/*****BANNER****/
.homepageBannerContainer{
	height:100px;
	width:940px;
	float:left;
}

/***********************************************************************************************************************************/
/*****BANNER CAROUSEL****/
.homepageCarouselContainer{
	float:left;
	width:940px;
	height:440px;
	margin-top:20px;
	position:relative;
	overflow:hidden;
}
.homepageCarouselContainer div.caroufredsel_wrapper{
	margin:0 !important;
}
.carouselHPBannerList{
	padding:0;
}
.carouselHPBannerList li{
	list-style:none;
	float:left;
	cursor:pointer;
}
.prevHPCaro{
	position:absolute;
	top:192px;
	left:20px;
	cursor:pointer;
}
.nextHPCaro{
	cursor: pointer;
    position: absolute;
    right: 20px;
    top: 192px;
}

/***********************************************************************************************************************************/
/*****CATEGORY LIST****/
.homepageCategoryItemTop{
	position:relative;
	width:220px;
	height:220px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
}
.homepageCatTitleBar{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	background-color:rgba(200,200,200,.5);
}
.homepageCatTitleBar p{
	color: #333333;
    font-size: 18px;
    margin-top: 14px;
    text-align: center;
}